In [1]:
dic={"fruits":["apples"] , "desserts":["icecream"]}
dic

{'fruits': ['apples'], 'desserts': ['icecream']}

In [2]:
sett = {22,33,44,55}

In [4]:
alist = [1,2,3,4,5,6]

In [6]:
aset = set(alist)

In [7]:
aset

{1, 2, 3, 4, 5, 6}

In [8]:
dic["newkey"]=1000

In [9]:
dic

{'fruits': ['apples'], 'desserts': ['icecream'], 'newkey': 1000}

In [10]:
del dic["newkey"]

In [11]:
dic

{'fruits': ['apples'], 'desserts': ['icecream']}

In [12]:
for key , val in dic.items():
    print(val)
    print(key)

['apples']
fruits
['icecream']
desserts

In [21]:
listd = [{"keys":[1,2,3,4]},{"keys1":[11,22,33,44]},{"keys2":[111,222,333,444],"new":[100,1000]}]

In [22]:
listd[0]

{'keys': [1, 2, 3, 4]}

In [23]:
listd[1]

{'keys1': [11, 22, 33, 44]}

In [24]:
listd[2]["new"][1]

1000

In [34]:
listd

[{'keys': [1, 2, 3, 4]},
 {'keys1': [11, 22, 33, 44]},
 {'keys2': [111, 222, 333, 444], 'new': [100, 1000]}]

In [45]:
listd[2]['new'].remove(1000)

In [46]:
listd

[{'keys': [1, 2, 3, 4]},
 {'keys1': [11, 22, 33, 44]},
 {'keys2': [111, 222, 333, 444], 'new': [100]}]

In [47]:
listd[2]

{'keys2': [111, 222, 333, 444], 'new': [100]}

In [48]:
for num in listd[2]["keys2"]:
    print(num)

111
222
333
444